h2 {

    margin: 10px;
}

.ancoras {

    text-align: center;
    background-color: rgb(55, 119, 192);
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    margin: 10px;
}

.ancoras a {

    color: white;
    margin: 10px;
    text-decoration: none;
}

#fotografias, #video, #poema {

    color: #0128aa;
    font-size: 24px;
    border-bottom: 2px solid #0a6ddf71;
    padding-bottom: 10px;
    margin-bottom: 20px;
    align-items: center;
    margin: 10px;
}

.fotos-juntas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-multi {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    border-radius: 10px; 
    margin: 20px;
}

.fotos-multi img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 30px;
}

.fotos-multi p {
    
    color: #555; 
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.video iframe {
    border-radius: 20px;
}

.poema {

    background-color: #ffffff; 
    padding: 20px;
    width: 55%; 
    border-radius: 10px;
    justify-content: center;
}

.poema pre {
    text-align: center;
}

.poema h3 {
    color: #0128aa;
}