* {
  margin:0;  
  padding:0;  
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 1;

  animation-name: slide-down;
  animation-duration: 1s;
}

h1 {
  display: flex;
  margin: 10px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav a {
  color: rgb(0, 0, 0);
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 17px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
  background-color: #2b2b2b;
  color: white;
  transform: scale(1.05);
}

nav a:last-child {
  color: white;
  background-color: #2b2b2b;
}

section img {
  width: 100%;
}

footer {
  background-color: #ffffff; 
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

article {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100%;
}

#poema {
  height: 50vh; 
  width: 100vw;
}

#poema p {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
}

#poema p:first-child {
  font-style: italic;
  font-weight: bold;
  margin: 10px;
}

#poema p:last-child {

  font-style: italic;
}

.imagem { 
  position: relative;
  background-color: #2a2a2a;
}

.imagem img {
  width: 101vw;
}

.autor {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

.autor:hover {
  text-decoration: underline;
}

#cidades {
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #2a2a2a;
  width: 100vw;
}

#cidades img {
  width: 100px;
  border-radius: 30px 0 0 30px;
}

#cidades div {

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  font-size: 18px;
}

#cidades section {

  display: flex;
  align-items: center;
  background-color: white;
  margin: 15px;
  border-radius: 30px;
}

#poema, .parallax {

  background-image: url('/lab6/images/parallax_beach.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.parallax-content {
  margin: 30px;
  font-size: 1.5em;
  font-weight: normal;
  color: white;
}


#galeria section {

  display: flex;
  align-items: center;
  margin: 5px 15px 5px 15px;
}

#galeria {

  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  background-color: #2d2d2d;
  display: flex;
  padding: 30px;
}

#galeria section {

  flex-direction: wrap;
}

#galeria img {
  border-radius: 10px;
  display: block;
}

.transition {

  transition: transform 1s;
}

.transition:hover {

  transform: scale(1.1);
}

.translate {
  transition: transform 3s ease;
}

.translate:hover {
  transform: translate(10px,-30px);
}

.opacity-img {
  position: relative;
  display: inline-block;
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.7s;
}

.opacity-img:hover .texto {
  opacity: 1;
}

.opacity:hover {

  opacity: 0.6
}

.rotateY {
  transition: transform 3s ease;
}

.rotateY:hover {

  transform: rotateY(180deg);
}

.rotateX {
  transition: transform 3s ease;
}

.rotateX:hover {

  transform: rotatex(360deg);
}

.rotate {
  transition: transform 3s ease;
}

.rotate:hover {

  transform: rotate(360deg);
}

.translate-1 {
  transition: transform 3s ease;
}

.translate-1:hover {
  transform: translate(-10px,30px);
}

.translate-2 {
  transition: transform 0.5s ease;
}

.translate-2:hover {
  transform: translateX(-100px);
}

/*video em background*/

#video-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

/* Estilo do vídeo de fundo */
#video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

/* Estilo para a barra de texto */
.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.6);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

@keyframes slide-down{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}











