.separador-categorias-ordenadas {

    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

.separador-categorias {

    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.imagem iframe {
    border-radius: 30px;
    width: 500px;
    height: 300px;
}

h3 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #4A90E2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-flex;
}

table {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}

th, td {
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

th {
    background-color: #4A90E2;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f0f8ff;
}

tr:hover {
    background-color: #e1f5fe;
}

.separadores {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


