header { grid-area: header-area;}

nav { grid-area: nav-area;}

main {grid-area: main-area;}

aside {grid-area: aside-area;}

footer {grid-area: footer-area;}

@media only screen and (max-width: 600px) {
    body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header-area' 
    'nav-area' 
    'main-area' 
    'aside-area' 
    'footer-area';
    }

    .imagens {

        flex-direction: column;
    }

    .imagens img {

        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
        body {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
        'header' 'header' 'header'
        'nav' 'main' 'main'
        'footer' 'footer' 'footer';
        }
}

@media only screen and (min-width: 1025px){
    body {

        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 20% 1fr 50px;;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-areas:
        'header' 'header' 'header'
        'nav' 'main' 'aside'
        'footer' 'footer' 'footer';
    }
}

