body {
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    background-color: #fff942;
    color: rgb(46, 46, 46);
    padding: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    animation-name: slide-down;
    animation-duration: 1s;
}

section {

    display: flex;
    align-items: center;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}

@keyframes slide-down{
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 10px;
}

  nav a {
    background-color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    color: rgb(46, 46, 46);
    border-radius: 10px;
    transition: background-color 0.2s, transform 0.3s;
  }

  nav a:hover {
    background-color: #353535;
    color: white;
    transform: scale(1.05);
  }

  button {
    background-color: #fdf61a;
    padding: 5px 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: background-color 0.2s, transform 0.3s;
    margin: 0 3px 0 3px;
    border: none;
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    transform: scale(1.03);
    border: 1px solid  #000000;
  }

  .hidden {
    display: none;
}

input[type="submit"] {
  background-color: #fdf61a;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px;
}


input[type="text"],
input[type="number"],
select {
  font-size: medium;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 10px;
}

form {
  display: flex;
}

.formulario {
  position: relative;
}

.message {
  position: absolute;
  bottom: -10px;
  left: 50px;
  font-size: 16px;
}

