header {
    background-color: #1565C0; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

body {

    background-color: #ddf1ff;

}

nav {
    background-color: #ffffff; /* Azul mais escuro para navegação */
    text-align: center;
}