header {
    background-color: #1565C0; 
    color: white;
    padding: 20px;
    text-align: center;
}

body {

    background-color: #ddf1ff;

}

nav {
    background-color: #ffffff; 
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    padding: 7px 7px;
    font-size: 20px;
    color: black;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.image-container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px
}

.imgage-fix {
    width: 49%;
    height: auto;
    padding: 1.8px;
}

section {

    background-color: white;
    border-radius: 15px;
    padding: 10px 10px 5px 5px;
}

footer {
    background-color: #ffffff; 
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
}