header {
    background-color: #1565C0; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

body {

    background-color: #ddf1ff;

}

nav {
    background-color: #ffffff; 
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    color: black;
}

.image-section {
    align-items: center;
    gap: 10px; 
    padding: 20px;
    text-align: center;
}

.image-section img {
    width: 45%;
    height: auto; 
}

section {

    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    background-color: #ffffff; 
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
}